.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.location-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 33vh;
}

.location-item-row {
  border-bottom: 1px solid #7c4d4d;
  display: flex;
  justify-content: space-between;
  width: 40%;
}
